'scopeName': 'source.jira'
'name': 'Jira'
'fileTypes': [
  'txt'
  'jira'
  'plaintext'
]
'patterns': [
  {
    # comment: Unresolved
    'match': '\\[\\*\\].+?\\*{2}$'
    'name': 'keyword.unresolved.jira'
  },
  {
    # comment: Resolved
    'match': '\\[R\\].+?$'
    'name': 'keyword.resolved.jira'
  },
  {
    # comment: Important
    'match': '\\[\\!\\].+?$'
    'name': 'keyword.important.jira'
  },
  {
    # comment: Question
    'match': '\\[\\?\\].+?$'
    'name': 'keyword.question.jira'
  },
  {
    # comment: Note/Info
    'match': '\\[note\\].+?$'
    'name': 'keyword.note.jira'
  },
  {
    # comment: URL
    'match' : '(\\w{4,5}):\\/\\/.[\\S]+'
    'name': 'keyword.url.jira'
  },
  {
    # comment: Date
    'match': '\\d{2}\\/\\d{2}\\/\\d{4}'
    'name': 'date.jira'
  }
]
