// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

// Styling in Wafflebomb-syntax, 
atom-text-editor::shadow .source.jira {
  .keyword {
    &.unresolved.jira{
      color: #ae81ff;
    }

    &.resolved.jira {
      color: #a1efe4;
    }

    &.important.jira {
      color: #f92672;
    }

    &.question.jira {
      color: #fd971f;
    }

    &.info.jira {
      color: #a6e22e;
    }

    &.url.jira {
      color: #66d9ef;
    }
  }
}
